{% extends 'base.html' %}
{% load related_content %}

{% block content %}
    <div class=main-content>
      <div class=lead-art>
        {% lead_art object 'article_head' %}
      </div>
      <header class=main-title>
        <h1>{{ object.title }}</h1>
        <div class='main-lead row'><div class=col-full>
          <strong>{{ object.summary|safe }}</strong>
        </div></div>
      </header>
      {% autoescape off %}
        <div class=story>
          {% if not 'div class=' in object.body %}
            <div class=row><div class=col-main>
              {{ object.body }}
            </div></div>
          {% else %}
            {{ object.body }}
          {% endif %}
        </div>
      {% endautoescape %}
      <div class="byline">{{ object.authors }} - {{ object.pub_date }}</div>
    </div>
{% endblock %}
